<!-- <h1>Webs#descubre</h1>
<p>Find me in app/views/webs/descubre.html.erb</p> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Descubre Datos de Interés</font></div>
</div></b>

<style>
.textoimagen{
    position: relative;
    display: block;
    text-align: center;
}

.textosobre{
    position: absolute;
    top: 45%;
    left: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}
</style>



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <p class="text-center">Aquí encontrarás información relevante sobre los productos que ponemos a disposición de la comunidad, entre ellos: beneficios, propiedades, atributos, preparaciones etc.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-2 item" style="margin-left: 0px">
                    <div class="box"><img class="rounded-circle" <%= image_tag("MielPropoleoSandia.jpg", size: "120x120") %><br>
                        <p class="name" >MIEL</p><br>
                        <p class="title">La más saludable y pura de abeja</p>
                        <p class="description">La miel tiene propiedades extraordinarias... Es la más bkn </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("MielCaxxabis450Grs.jpg", size: "120x120") %><br>
                        <p class="name" >SECRETOS CON MIEL</p><br>
                        <p class="title">Consejos para mejores preparaciones</p>
                        <p class="description">Para la salud... </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Cafetostadogranel001.jpg", size: "120x120") %><br>
                        <p class="name" >CAFÉ</p><br>
                        <p class="title">Grano, Molido, Instantáneo</p>
                        <p class="description">El café es un aliado maravilloso para una vida extensa y saludable... </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Snack02.ico", size: "120x120") %><br> 
                        <p class="name">SECRETOS CON CAFÉ</p><br>
                        <p class="title">Consejos para mejores preparaciones</p>
                        <p class="description">Cafetera Italiana... </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Tehojasgranel001.jpg", size: "120x120") %><br>
                        <p class="name">TÉ</p><br>
                        <p class="title">Hojas, Granel, Envasado, Bolsitas</p>
                        <p class="description">Una experiencia maravillosa... </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Snack02.ico", size: "120x120") %><br>
                        <p class="name">SECRETOS CON TÉ</p><br>
                        <p class="title">Consejos para mejores preparaciones</p>
                        <p class="description">Prensa Francesa... </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>
