<!-- <h1>Webs#descubre</h1>
<p>Find me in app/views/webs/descubre.html.erb</p> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Datos de Interés</font></div>
</div></b>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <p>Aquí encontrarás información relevante sobre los productos que ponemos a disposición de la comunidad, entre ellos: beneficios, propiedades, atributos, preparaciones etc.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-2 item" style="margin-left: 0px">
                    <div class="box"><img class="rounded-circle" <%= image_tag("MielPropoleoSandia.jpg", size: "120x120") %><br>
                        <p class="name" >MIEL</p><br>
                        <p class="title">La más saludable y pura de abeja</p>
                        <p class="description">La miel tiene propiedades extraordinarias... Es la más bkn... Algunas de las más importantes: Contiene una gran cantidad de nutrientes saludables...
Es rica en antioxidantes...
Es mejor que el azúcar para los diabéticos...
Sus antioxidantes bajan la presión arterial...
Ayuda a reducir el colesterol malo...
Puede reducir los triglicéridos. </p>
                        <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("MielCaxxabis450Grs.jpg", size: "120x120") %><br>
                        <p class="name" >SECRETOS CON MIEL</p><br>
                        <p class="title">Consejos para mejores preparaciones</p>
                        <p class="description">Para la salud... Una de las formas más habituales y beneficiosas es incorporar miel y limón a las infusiones en vez de azúcar, esto suavizará nuestra garganta y la mantendrá hidratada. También existe un remedio que consiste en hacerse una bebida a base de agua, limón exprimido y una cucharada de miel, con excelentes resultados para nuestra garganta.</p>
                        <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Cafetostadogranel001.jpg", size: "120x120") %><br>
                        <p class="name" >CAFÉ</p><br>
                        <p class="title">Grano, Molido, Instantáneo</p>
                        <p class="description">El café es un aliado maravilloso para una vida extensa y saludable...  Es energía positiva... No genera adicción... Combate el envejecimiento... Mejora el rendimiento deportivo... Disminuye el dolor de cabeza... Es un excelente fertilizante.</p>
                        <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Secretcoffe01.png", size: "120x120") %><br> 
                        <p class="name">SECRETOS CON CAFÉ</p><br>
                        <p class="title">Consejos para mejores preparaciones</p>
                        <p class="description">Cafetera Italiana o Moka... Llenar la base con agua tibia hasta bajo la válvula. Enroscar el filtro y llenarlo con café molido, sin prensarlo;
Enroscar ambas partes de la cafetera y colo al fuego, con llama baja;
Una vez suba ye café y burbujee quite la moka del fuego, tendremos así lo mejor del café;
mezclar con cucharilla, sirva en taza y si es necesario aguegue directo a ella algo de agua caliente.</p>
                        <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Tehojasgranel001.jpg", size: "120x120") %><br>
                        <p class="name">TÉ</p><br>
                        <p class="title">Hojas, Granel, Envasado, Bolsitas</p>
                        <p class="description">El té es experiencia maravillosa gracias a que: Posee antioxidantes los que son germen de vitaminas, minerales y fibra...
Protege el sistema inmunológico...
Reduce el riesgo de contraer enfermedades cardiovasculares...
Ayuda a conbatir la anemia...
Aporta hidratación...
Es diurético...
Y no tiene calorías.</p>
                        <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 item">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Secretote01.png", size: "120x120") %><br>
                        <p class="name">SECRETOS CON TÉ</p><br>
                        <p class="title">Consejos para mejores preparaciones</p>
                        <p class="description">Elegir el té adecuado al momento, cada una es especial...
Recuerda tener a mano: Tetera, infusor, reloj, termómetro, agua a la temperatura justa según el té a prepara, cucharillas y tazas...
Colocar las hojas de té seleccionado en el infusor y luego en la tetera y verter el agua encima con la temperatura adecuada (a la brevedad te daremos ese dato)...
Dejar reposar el tiempo necesario según el tipo de té (Ya viene la info)...
Quita el infusor de la tetera y cierrala. Si colocaste el té directo en la tetera debes sacar la preparación (líquido) no debe superar el tiempo recomendado de infusión...
Sirve y disfruta. </p>
                        <!-- <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>
