<!-- <h1>Webs#home</h1> 
<p>Find me in app/views/webs/home.html.erb</p> -->

<!-- <b><font  color="maroon" face="Brush Script MT" style=font-size:250%> Bienvenid@...</font> -->
<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Bienvenid@... Elige tu categoría favorita</font></div>
</div></b>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>

<body>
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2" style="margin-left: 0px">
            <div class="card">
                <div class="card-body">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Miel01.ico", size: "120x90") %><br>
                        <p class="name">MIELES DE ABEJA</p><br>
                        <p class="title">Más de 20 variedades de exquisita, enriquecida y natural Miel de Abeja...</p>
                        <p class="title">Atrévete con lo nuevo</p>
                        <a href="/webs/mieles" <button type="button" class="btn btn-warning"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
                            Descubre lo que tenemos
                        </button> </a>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Cafe01.ico", size: "120x90") %><br>
                        <p class="name">CAFÉS</p><br>
                        <p class="title">Grano, Molido, Cápsulas, Instantáneo Vegano y Saborizado...</p>
                        <p class="title">¿Cuál prefieres?</p>
                        <a href="/webs/cafes" <button type="button" class="btn btn-warning"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
                            Descubre lo que tenemos 
                        </button> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Te01.ico", size: "120x90") %><br>
                        <p class="name">TÉS</p><br>
                        <p class="title">Hojas Granel, bolsitas, Verde, Rojo, Blanco, Frutas, Floral...</p>
                        <p class="title">Elije tu favorito</p>
                        <a href="/webs/tes" <button type="button" class="btn btn-warning"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
                            Descubre lo que tenemos 
                        </button> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Snack01.ico", size: "120x90") %><br>
                        <p class="name">SNACKS Y REFRIGERIOS</p><br>
                        <p class="title">Maní Confitado-Japonés, Suflés, Snack y Bebidas Asiáticas...</p>
                        <p class="title">Mmmm que rico!!!</p>
                        <a href="/webs/snacks" <button type="button" class="btn btn-warning"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
                            Descubre lo que tenemos 
                        </button> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Accesor01.ico", size: "120x90") %><br>
                        <p class="name">ACCESORIOS</p><br>
                        <p class="title">Cafetera Francesa, Moka Italiana, Molinillos, Mugs, Tazas y mucho más...</p>
                        <p class="title">¿Qué buscas?</p>
                        <a href="/webs/accesorios" <button type="button" class="btn btn-warning"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
                            Descubre lo que tenemos 
                        </button> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="box"><img class="rounded-circle" <%= image_tag("Vestuario01.ico", size: "120x90") %><br>
                        <p class="name">VESTUARIO Y CALZADO</p><br>
                        <p class="title">Zapatillas, Botas, Zapatos de Fútbol, Pijamas, Ropa Clínica...</p>
                        <p class="title">Seguro tenemos algo</p>
                        <a href="/webs/ropa" <button type="button" class="btn btn-warning"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">
                            Descubre lo que tenemos 
                        </button> </a>
                    </div>
                </div>
            </div>
        </div>


    </div>                    
       
</body>
</html>