<!-- <h1>Webs#privado</h1>
<p>Find me in app/views/webs/privado.html.erb</p> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Control y Gestión</font></div>
</div></b>
<%= image_tag("Paginaenconstruccion01.jpg", size: "500x200", style: "margin-left: 100px" ) %>

<!-- LISTADO DE PRODUCTOS CRUD -->

<table class="table table-striped">
    <thead>
        <tr style="color: orangered">
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Imagen</th>
            <th>Cód. Barra</th>
            <th>Inventario Mínimo</th>
            <th>Precio Venta</th>
            <th>%Factor Descto.</th>
            <th>Stock?</th>
        </tr>
    </thead>
    
    <% @productos.each do |prod| %>
    <tr>
        <th scope="row"><%= prod.cod_producto %></th>
        <td><%= prod.nom_producto %>
        <td><%= prod.describe_producto %>
        <td><%= prod.categ_producto %>
        <td><%= prod.marca_producto %>
        <td><%= prod.imagen_producto %>
        <td><%= prod.cod_barra_producto %>
        <td><%= prod.inven_minimo %>
        <td><%= prod.precio_venta %>
        <td><%= prod.descto_especial %>
        <td><%= prod.vigencia_producto %>
        <td>
            <%= link_to "Mostrar" %>
            <%= link_to "Editar" %>
            <%= link_to "Eliminar" %>
        </td>
    </tr>
    <% end %>
</table>

