<!-- <h1>Webs#privado</h1>
<p>Find me in app/views/webs/privado.html.erb</p> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Control y Gestión</font></div>
</div></b>
<%= image_tag("Paginaenconstruccion01.jpg", size: "500x200", style: "margin-left: 100px" ) %>

<!--
<div class="row">

<% @productos.each do |p| %>
<div class="col-sm-1">

    <div class="card p-2">
        <%= image_tag(p.imagen_producto) %>
        <div class="card-body">
            <p class="card-title"><%= p.nom_producto %></p>
            <p class="card-marca"><%= p.marca_producto %></p>
            <p class="card-text"><%= p.describe_producto %></p>
            <div id="precio">
                <h4>$ <%= number_with_delimiter(Integer(p.precio_venta*(0.01*(100-p.descto_especial))), delimiter: ".") %></h4>
            </div>
        </div>
    </div>
    
</div>
<% end %>
</div> -->

