<!--<h1>Dudas Consultas Pedidos... Escríbenos</h1>-->
<!--p>Find me in app/views/contactos/new.html.erb</p>-->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Consultas, Pedidos, Comentarios... Escríbenos</font></div>
</div></b>

<style>
.textoimagen{
    position: relative;
    display: block;
    text-align: center;
}

.textosobre{
    position: absolute;
    top: 45%;
    left: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
}
</style>


<%= form_for(@contacto) do |f| %>
    <div style="text-align:left">
    <font font-weight="bold" color="maroon" face="Titillium Web, Arial, Verdana" style=font-size:130%>

        <!-- <%= f.label :Correo_Electrónico %>
        <input type="email" class="form-control" placeholder="nombre@dominio.cl" style="background-color:blanchedalmond" f.text_field="email">

        <%= f.label :mensaje %>
        <textarea class="form-control" id="f.text_area" rows="3" cols="161" style="background-color:blanchedalmond"> </textarea>
        <%= f.text_area :mensaje %> -->

        <%= f.label :Correo_Electrónico, style: "display: block", type: "email", class: "form-control", placeholder: "nombre@dominio.cl", style: "background-color:blanchedalmond" %>
        <%= f.text_field :email %>
    
        <%= f.label :mensaje, style: "display: block" %>
        <%= f.text_area :mensaje %>
    
        <div>
            <button type="submit" class="btn btn-warning" style="margin-top:10px">Enviar mensaje </button>
        </div>
    </font>
    <div>
<% end %>
