<!-- <h1>Buscars#create</h1>
# <p>Find me in app/views/buscars/create.html.erb</p> -->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Resultado de tu Búsqueda</font></div>
</div></b>



<% if @productos.empty? %>
    <div class="noauten">
        <h1>Lamentablemente no tenemos el producto que buscas<h1>
        <h3>Realiza una nueva búsqueda... Gracias<h3>
    </div>
<% elsif %>
    <div class="row">
    <% @productos.each do |p| %>
    <div class="col-sm-1">
        <div class="card p-2">
            <%= image_tag(p.imagen_producto) %>
            <div class="card-body">
                <p class="card-title"><%= p.nom_producto %></p>
                <p class="card-marca"><%= p.marca_producto %></p>
                <p class="card-text"><%= p.describe_producto %></p>
                <div id="precio">
                    <h4>$ <%= number_with_delimiter(p.precio_venta, delimiter: ".") %></h4>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    </div>
<% end %>
