<!-- <h1>Productos#</h1>
<p>Encuentra este código en C:\RubyRailsEjercicios\mielesteycafe\app\views\productos\show.html.erb </p>

LISTADO DE PRODUCTOS CRUD / Menú Administración
<%= image_tag("Paginaenconstruccion01.jpg", size: "500x200", style: "margin-left: 100px" ) %>
-->

<div class="textoimagen">
    <%= image_tag("Brochazo01.png", size: "500x45") %>
    <div class="textosobre2"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170%>Listado de Productos</font></div>
</div><br>

<table class="table table-striped">
    <thead>
        <tr style="color: black">
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Imagen</th>
            <th>Cód. Barra</th>
            <th>Inventario Mínimo</th>
            <th>Precio Venta</th>
            <th>%Factor Descto.</th>
            <th>Stock?</th>
            <th>Opción</th>
        </tr>
    </thead>
    
    <% @productos.each do |prod| %>
    <tr>
        <th scope="row" style="color: green"><%= prod.cod_producto %></th>
        <td style="color: #CD0000"><%= prod.nom_producto %>
        <td style="color: green"><%= prod.describe_producto %>
        <td style="color: #CD0000"><%= prod.categ_producto %>
        <td style="color: green"><%= prod.marca_producto %>
        <td style="color: #CD0000"><%= prod.imagen_producto %>
        <td style="color: green"><%= prod.cod_barra_producto %>
        <td style="color: #CD0000"><%= prod.inven_minimo %>
        <td style="color: green"><%= number_with_delimiter(prod.precio_venta, delimiter: ".") %>
        <td style="color: #CD0000"><%= prod.descto_especial %>
        <td style="color: green"><%= prod.vigencia_producto %>
        <td>
            <%= link_to "Mostrar", producto_path(prod), method: :get %>
            <%= link_to "Editar", editar_producto_path(prod) %>
            <!-- <%= link_to "Eliminar" %> -->
        </td>
    </tr>
    <% end %>
</table>
