<div class="zonaid">
    <% if usuario_actual %>
            <b><font color="maroon" face="Titillium Web" style=font-size:150% >
            <p>Bienvenido <img class="rounded-circle" <%= image_tag(@user.imagen_usuario, size: "50x55") %> <%= @user.nombre_usuario %> <%= @user.apellidos_usuario %> </p></b></font>

    <!--AQUI SE COLOCA EL CONTENIDO PRIVADO -->

    <div class="textoimagen">
        <%= image_tag("Brochazo01.png", size: "500x45") %>
        <div class="textosobre3"> <font  color="blanchedalmond" face="Titillium Web" style=font-size:170% >Ofertas Exclusivas para tí</font></div>
    </div>
</div>

<div class="row">

<% @productos.each do |p| %>
<div class="col-sm-1">

    <div class="card p-2">
        <%= image_tag(p.imagen_producto) %>
        <div class="card-body">
            <p class="card-title"><%= p.nom_producto %></p>
            <p class="card-marca"><%= p.marca_producto %></p>
            <p class="card-text"><%= p.describe_producto %></p>
            <div id="precio">
                <h4>$ <%= number_with_delimiter(Integer(p.precio_venta*(0.01*(100-p.descto_especial))), delimiter: ".") %></h4>
            </div>
        </div>
    </div>
    
</div>
<% end %>
</div>


<% end %>

<% if not usuario_actual %>
    <div class="noauten">
        <h1>Recurso prohibido o usted no está autenticado...</h1>
        <h2>Por favor inicie sesión</h2>
    </div>
    <form action="/sessions/new" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <!-- <input type="submit" value="Iniciar Sesión"> -->
    </form>
<% end %>
